<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mason.mapper.RoleMapper">
    <insert id="addRolePermission">
        insert into role_auth(role_id,auth_id,dataCoverage) values
        <foreach collection="permissions" item="permission" separator=",">
            (#{permission.roleId},#{permission.authId},#{permission.dataCoverage})
        </foreach>
    </insert>
    <select id="getAllRole" resultType="com.mason.domain.vo.RoleSimpleVO">
        select id,name,`desc` from role
        <if test="roleName != null and roleName != ''">
            where name like concat('%', #{roleName}, '%')
        </if>
    </select>
    <select id="countRole" resultType="java.lang.Integer">
        select count(*) from role
        <if test="roleName != null and roleName != ''">
            where name like concat('%', #{roleName}, '%')
        </if>
    </select>
    <select id="countPermission" resultType="java.lang.Integer">
        select count(*) from auth
        <if test="name != null and name != ''">
            where name like concat('%', #{name}, '%')
        </if>
    </select>
    <select id="getAllPermission" resultType="com.mason.domain.vo.AuthVO">
        select id, name, code, sort from auth
        <if test="name != null and name != ''">
            where name like concat('%', #{name}, '%')
        </if>
        order by sort desc
        limit #{skip}, #{pageSize}
    </select>
    <delete id="batchDeleteRoleAuth">
        <if test="(roleIds != null and roleIds.size() > 0) or (authIds != null and authIds.size() > 0)">
            delete from role_auth
            <where>
                <if test="roleIds != null">
                    role_id in
                    <foreach collection="roleIds" item="id" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </if>
                <if test="authIds != null">
                    and auth_id in
                    <foreach collection="authIds" item="id" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </if>
            </where>
        </if>
    </delete>

    <delete id="batchDeleteRole">
        delete from role where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="batchDeletePermission">
        delete from auth where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="batchDeleteUserRole">
        <if test="(userIds != null and userIds.size() > 0) or (roleIds != null and roleIds.size() > 0)">
            delete from user_role
            <where>
                <if test="userIds != null">
                    user_id in
                    <foreach collection="userIds" item="id" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </if>
                <if test="roleIds != null">
                    and role_id in
                    <foreach collection="roleIds" item="id" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </if>
            </where>
        </if>
    </delete>
</mapper>